.messages {
    flex: 1;
    padding: 16px;
    overflow-y: auto;

    .message {
        margin-bottom: 12px;

        &-pseudo {
            font-weight: bold;
            color: #BBE1FA;
            margin-bottom: 8px;
        }
        
        &-content {
            display: inline-block;
            color: #3282B8;
            background-color: white;
            border-radius: 16px;
            padding: 12px;
        }
    }
}