.form {
    display: flex;
    justify-content: space-between;

    &-input {
        flex: 1;
        font-size: 1rem;
        color: #3282B8;
        padding: 12px;
        border: none;
        border-right: 1px solid #0F4C75;
        outline: none;
        border-radius: 16px 0 0 0;
        transition: 0.2s ease-in-out;
    }

    &-submit {
        color: #0F4C75;
        background-color: white;
        border: none;
        width: 52px;
        border-radius: 0 16px 0 0;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
            color: white;
            background-color: #3282B8;
        }
    }
}